<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>user information</title>
    <link rel="stylesheet" href="/style.css">
</head>
<body>
<h1><%= getUser[0].username %></h1>
<div>
    <table>
        <tr>
            <th>e-mail</th>
            <td><%= getUser[0].email %></td>
            <th>password</th>
            <td><a href="<%= getUser[0].userid %>/update" >change password</a></td>
            <th>birthday</th>
            <td><%= getUser[0].birthday %></td>
        </tr>
    </table>
</div>
<form action="/account/<%= getUser[0].userid %>?_method=DELETE" method="POST">
    <button>delete user</button>
</form>
<a href="/account">log in</a>
</body>
</html>